body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-blue {
  color: #259bd1;
}

.text-red {
  color: #b9223b;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.05fr 0.95fr;
  grid-template-areas: 
    "nav" 
    "main";
}