tqdm
click
flask
pyyaml
pandas
inflect
requests
graphviz
networkx
beautifulsoup4
sentence_transformers

# # allennlp
# torch
# allennlp

# # old
# nltk
# pydot
# gensim
# networkx
# PyDictionary
# fake_useragent
# python-Levenshtein