.graph-container {
    display: grid;
    grid-template-rows: 0.01fr 0.99fr;
    margin-top: 40px;
}

.graph-title {
    text-align: center;
}

.left-edge {
    background-color: orange;
    border-radius: 5px;
    border: 1px solid rgb(73, 49, 4);
    padding: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
}

.right-edge {
    background-color: cyan;
    border-radius: 5px;
    border: 1px solid rgb(1, 107, 107);
    padding: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}